{
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 100,
	"endOfLine": "lf",
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxSingleQuote": true,
	"proseWrap": "preserve",
	"requirePragma": false,
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": "*.md",
			"options": {
				"useTabs": false,
				"tabWidth": 2,
				"proseWrap": "always"
			}
		},
		{
			"files": "*.yml",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
